<h2 class="text-primary"><strong>Klient - szczegóły</strong></h2>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form class="form-horizontal">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label class="control-label" for="name">Imię</label>
                  <input class="form-control" id="name" type="text" ng-model="client.name" required>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-1">
                <div class="form-group">
                  <label class="control-label" for="surname">Nazwisko</label>
                  <input class="form-control" id="surname" type="text" ng-model="client.surname" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label" for="companyName">Nazwa firmy</label>
                  <input class="form-control" id="companyName" type="text" ng-model="client.companyName" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label class="control-label" for="telephoneNumber">Numer telefonu</label>
                  <input class="form-control" id="telephoneNumber" type="text" ng-model="client.telephoneNumber"
                         required>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-1">
                <div class="form-group">
                  <label class="control-label" for="fax">Fax</label>
                  <input class="form-control" id="fax" type="text" ng-model="client.fax">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label class="control-label" for="zipCode">Kod</label>
                  <input class="form-control" id="zipCode" type="text" ng-model="client.zipCode" required>
                </div>
              </div>
              <div class="col-md-9 col-md-offset-1">
                <div class="form-group">
                  <label class="control-label" for="city">Miejscowość</label>
                  <input class="form-control" id="city" type="text" ng-model="client.city" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="street">Ulica</label>
                  <input class="form-control" id="street" type="text" ng-model="client.street">
                </div>
              </div>
              <div class="col-md-2 col-md-offset-1">
                <div class="form-group">
                  <label class="control-label" for="streetNumber">Numer</label>
                  <input class="form-control" id="streetNumber" type="text" ng-model="client.streetNumber" required>
                </div>
              </div>
              <div class="col-md-4 col-md-offset-1">
                <div class="form-group">
                  <label class="control-label" for="country">Kraj</label>
                  <input class="form-control" id="country" type="text" ng-model="client.country" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label class="control-label" for="emailAddress">E-mail</label>
                  <input class="form-control" id="emailAddress" type="text" ng-model="client.emailAddress">
                </div>
              </div>
              <div class="col-md-6 col-md-offset-1">
                <div class="form-group">
                  <label class="control-label" for="website">Strona internetowa</label>
                  <input class="form-control" id="website" type="text" ng-model="client.website">
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success" ng-click="saveClient()">Zatwierdź</button>
              <a class="btn btn-danger" href="#/clients">Anuluj</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
