<h2 class="text-primary"><strong>Kierowca - szczegóły</strong></h2>
<div class="panel panel-default">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label" for="clientName">Zestaw</label>
        <input class="form-control" id="clientName" type="text" ng-model="driver.set" disabled>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label" for="name">Imię</label>
            <input class="form-control" id="name" type="text" ng-model="driver.name" required>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="surname">Nazwisko</label>
            <input class="form-control" id="surname" type="text" ng-model="driver.surname" required>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="personalId">Numer PESEL</label>
            <input class="form-control" id="personalId" type="text" ng-model="driver.personalId" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label" for="driverCardId">Karta kierowcy</label>
            <input class="form-control" id="driverCardId" type="text" ng-model="driver.driverCardId" required>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="driverLicenseNumber">Prawo jazdy</label>
            <input class="form-control" id="driverLicenseNumber" type="text" ng-model="driver.driverLicenseNumber"
                   required>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="insurancePolicyNumber">Polisa</label>
            <input class="form-control" id="insurancePolicyNumber" type="text" ng-model="driver.insurancePolicyNumber"
                   required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" for="employmentDate">Data zatrudnienia</label>
            <input class="form-control" id="employmentDate" type="date" ng-model="driver.employmentDate" required>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="medicalExamination">Data ważności badania lek.</label>
            <input class="form-control" id="medicalExamination" type="date"
                   ng-model="driver.medicalExaminationExpiryDate" required>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label" for="telephoneNumber">Numer telefonu</label>
            <input class="form-control" id="telephoneNumber" type="text" ng-model="driver.telephoneNumber" required>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="zipCode">Kod</label>
            <input class="form-control" id="zipCode" type="text" ng-model="driver.zipCode" required>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="city">Miejscowość</label>
            <input class="form-control" id="city" type="text" ng-model="driver.city" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="form-group">
            <label class="control-label" for="street">Ulica</label>
            <input class="form-control" id="street" type="text" ng-model="driver.street">
          </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="streetNumber">Numer</label>
            <input class="form-control" id="streetNumber" type="text" ng-model="driver.streetNumber" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" for="country">Kraj</label>
            <input class="form-control" id="country" type="text" ng-model="driver.country" required>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="adr">Posiadane certyfikaty ADR</label>
            <input class="form-control" id="adr" type="text" ng-model="driver.adrCertificate">
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" ng-click="saveDriver()">Zatwierdź</button>
        <a class="btn btn-danger" href="#/drivers">Anuluj</a>
      </div>
    </form>
  </div>
</div>
</div>
