<h2 class="text-primary"><strong>Miejsce załadunku - szczegóły</strong></h2>
<div class="panel panel-default">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label" for="clientName">Zamówienie</label>
        <input class="form-control" id="clientName" type="text" ng-model="order.name" disabled>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="companyName">Firma</label>
            <input class="form-control" id="companyName" type="text" ng-model="loadPlace.companyName" required>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="companyTelephoneNumber">Numer telefonu</label>
            <input class="form-control" id="companyTelephoneNumber" type="text"
                   ng-model="loadPlace.companyTelephoneNumber"
                   required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label" for="companyZipCode">Kod</label>
            <input class="form-control" id="companyZipCode" type="text" ng-model="loadPlace.companyZipCode" required>
          </div>
        </div>
        <div class="col-md-9 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="companyCity">Miejscowość</label>
            <input class="form-control" id="companyCity" type="text" ng-model="loadPlace.companyCity" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="form-group">
            <label class="control-label" for="companyStreet">Ulica</label>
            <input class="form-control" id="companyStreet" type="text" ng-model="loadPlace.companyStreet">
          </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="companyStreetNumber">Numer</label>
            <input class="form-control" id="companyStreetNumber" type="text" ng-model="loadPlace.companyStreetNumber"
                   required>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label" for="country">Kraj</label>
            <input class="form-control" id="country" type="text" ng-model="loadPlace.companyCountry"
                   required>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="date">Data</label>
            <input class="form-control" id="date" type="date" ng-model="loadPlace.date" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label" for="recommendations">Zalecenia nadawcy</label>
            <input class="form-control" id="recommendations" type="text" ng-model="loadPlace.recommendations"
              >
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" ng-click="saveLoadPlace()">Zatwierdź</button>
        <a class="btn btn-danger" href="#/client/{{client.id}}/{{order.id}}">Anuluj</a>
      </div>
    </form>
  </div>
</div>
</div>
