<h2 class="text-primary"><strong>TransFirma 2015 - strona główna</strong></h2>
<div class="row col-md-6">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading text-center"><strong>Informacje</strong></div>
      <table class="table table-striped table-hover table-condensed">
        <tbody>
        <tr>
          <td>Zarejestrowani klienci</td>
          <td>{{clients}}</td>
        </tr>
        <tr>
          <td>Dodane zlecenia</td>
          <td>{{orders}}</td>
        </tr>
        <tr>
          <td>Zlecenia w toku</td>
          <td>{{ongoing}}</td>
        </tr>
        <tr>
          <td>Zlecenia zakończone</td>
          <td>{{completed}}</td>
        </tr>
        <tr>
          <td>Zlecenia zapłacone</td>
          <td>{{paid}}</td>
        </tr>
        <tr>
          <td>Zlecenia niezapłacone</td>
          <td>{{unpaid}}</td>
        </tr>
        <tr>
          <td>Kierowcy w systemie</td>
          <td>{{drivers}}</td>
        </tr>
        <tr>
          <td>Posiadane ciężarówki</td>
          <td>{{trucks}}</td>
        </tr>
        <tr>
          <td>Wykonane serwisy ciężarówek</td>
          <td>{{trucksServices}}</td>
        </tr>
        <tr>
          <td>Posiadane naczepy</td>
          <td>{{trailers}}</td>
        </tr>
        <tr>
          <td>Wykonane serwisy naczep</td>
          <td>{{trailersServices}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row col-md-6">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <div class="panel-heading text-center"><strong>Kierowcy - kończące się badania</strong>
        <span class="badge">{{driverCount}}</span></div>
      <table class="table table-striped table-hover table-condensed">
        <tbody>
        <tr ng-repeat="item in driverExpiry">
          <td>{{$index+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.surname}}</td>
          <td>{{item.driverCardId}}</td>
          <td style="color: orangered">{{item.medicalExaminationExpiryDate | date:'yyyy-MM-dd'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <pagination total-items="pagination3.totalItems"
                items-per-page="pagination3.itemsPerPage"
                ng-model="pagination3.currentPage"
                ng-change="pageChange3()"
                next-text="&rsaquo;" previous-text="&lsaquo;"
                boundary-links="true"
                first-text="&laquo;" last-text="&raquo;" ng-show="isSomething3"></pagination>
  </div>
  <div class="col-md-12">
    <div class="panel panel-warning">
      <div class="panel-heading text-center"><strong>Ciężarówki - kończące się przeglądy</strong>
        <span class="badge">{{trucksCount}}</span></div>
      <table class="table table-striped table-hover table-condensed">
        <tbody>
        <tr ng-repeat="item in truckServices">
          <td>{{$index+1}}</td>
          <td>{{item.truck.brand}}</td>
          <td>{{item.truck.model}}</td>
          <td>{{item.truck.registrationNumber}}</td>
          <td style="color: orangered">{{item.truckInspectionExpiryDate | date:'yyyy-MM-dd'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <pagination total-items="pagination.totalItems"
                items-per-page="pagination.itemsPerPage"
                ng-model="pagination.currentPage"
                ng-change="pageChange()"
                next-text="&rsaquo;" previous-text="&lsaquo;"
                boundary-links="true"
                first-text="&laquo;" last-text="&raquo;" ng-show="isSomething"></pagination>
  </div>
  <div class="col-md-12">
    <div class="panel panel-warning">
      <div class="panel-heading text-center"><strong>Naczepy - kończące się przeglądy</strong>
        <span class="badge">{{trailersCount}}</span></div>
      <table class="table table-striped table-hover table-condensed">
        <tbody>
        <tr ng-repeat="item in trailerServices">
          <td>{{$index+1}}</td>
          <td>{{item.trailer.brand}}</td>
          <td>{{item.trailer.model}}</td>
          <td>{{item.trailer.registrationNumber}}</td>
          <td style="color: orangered">{{item.trailerInspectionExpiryDate | date:'yyyy-MM-dd'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <pagination total-items="pagination2.totalItems"
                items-per-page="pagination2.itemsPerPage"
                ng-model="pagination2.currentPage"
                ng-change="pageChange2()"
                next-text="&rsaquo;" previous-text="&lsaquo;"
                boundary-links="true"
                first-text="&laquo;" last-text="&raquo;" ng-show="isSomething2"></pagination>
  </div>
</div>
