<h2 class="text-primary"><strong>Zamówienie</strong></h2>
<tabset>
  <tab>
    <tab-heading>Szczegóły</tab-heading>
    <br>

    <div class="panel panel-default">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label" for="clientName">Klient</label>
            <input class="form-control" id="clientName" type="text" ng-model="client.name" disabled>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label class="control-label" for="orderNumber">Numer zlecenia</label>
                <input class="form-control" id="orderNumber" type="text" ng-model="order.orderNumber" required>
              </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="cargoDescription">Opis towaru</label>
                <input class="form-control" id="cargoDescription" type="text" ng-model="order.cargoDescription"
                       required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label" for="packagingType">Typ opakowania</label>
                <input class="form-control" id="packagingType" type="text" ng-model="order.typeOfPackaging">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label" for="weight">Waga (butto)</label>
                <input min="0" max="50000" class="form-control" id="weight" type="number" ng-model="order.weight"
                       required>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="capacity">Objętość</label>
                <input min="0" max="1000" class="form-control" id="capacity" type="number" ng-model="order.capacity"
                  >
              </div>
            </div>
            <div class="col-md-2 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="quantity">Ilość palet</label>
                <input min="0" max="1000" class="form-control" id="quantity" type="number" ng-model="order.quantity"
                       required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label" for="distance">Odległość</label>
                <input min="0" max="20000" class="form-control" id="distance" type="number" ng-model="order.distance"
                       required>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="orderDate">Data zamówienia</label>
                <input class="form-control" id="orderDate" type="date" ng-model="order.orderDate" required>
              </div>
            </div>
            <div class="col-md-2 col-md-offset-1">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <br>
                    <input type="checkbox" ng-model="order.deliveryStatus">Wykonano
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label" for="deliveryPrice">Cena</label>
                <input class="form-control" id="deliveryPrice" type="text" ng-model="order.deliveryPrice" required>
              </div>
            </div>
            <div class="col-md-2 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="additionalCosts">Dodatkowe</label>
                <input class="form-control" id="additionalCosts" type="text" ng-model="order.additionalCosts">
              </div>
            </div>
            <div class="col-md-2 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="penaltyCosts">Kara</label>
                <input class="form-control" id="penaltyCosts" type="text" ng-model="order.penaltyCosts">
              </div>
            </div>
            <div class="col-md-2 col-md-offset-1">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <br>
                    <input type="checkbox" ng-model="order.receiveMoney"> Zapłacono
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="adr">Certyfikaty ADR</label>
            <input class="form-control" id="adr" type="text"
                   placeholder="Podaj certyfikaty ADR po przecinku (jeśli są wymagane)" ng-model="order.adrCertificate">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success" ng-click="saveOrder()">Zatwierdź</button>
            <a class="btn btn-danger" href="#/client/{{client.id}}/orders">Anuluj</a>
          </div>
        </form>
      </div>
    </div>
    </div>
  </tab>
  <tab ng-show="showTabs">
    <tab-heading>Naczepy <span class="badge">{{trailersCount}}</span></tab-heading>
    <br>

    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Naczepy</strong></div>
            <table class="table table-striped table-hover table-condensed">
              <thead>
              <tr>
                <th>#</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Numer rejestracyjny</th>
                <th>Typ zabudowy</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in trailersList">
                <td>{{$index+1}}</td>
                <td>{{item.brand}}</td>
                <td>{{item.model}}</td>
                <td>{{item.registrationNumber}}</td>
                <td>{{item.trailerType}}</td>
                <td width="15px">
                  <button class="btn btn-danger" ng-click="removeTrailer(item.id)">Usuń</button>
                </td>
              </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Menu</strong></div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <label for="trailers" class="control-label">Naczepy</label>
                <input type="text" class="form-control" ng-click="getTrailers()" ng-change="getTrailers()"
                       ng-model="selectedTrailer"
                       typeahead="trailer.text for trailer in trailers | filter:$viewValue | limitTo:8"
                       typeahead-on-select="selectTrailer($item,$model,$label)" id="trailers" placeholder="Szukaj">
              </div>
              <div class="form-group" ng-show="trailerId">
                <button class="btn btn-success" ng-click="addTrailer()">Dodaj</button>
              </div>
            </form>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab ng-show="showTabs">
    <tab-heading>Miejsca załadunku <span class="badge">{{loadPlacesCount}}</span></tab-heading>
    <br>

    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Lista miejsc załadunku</strong></div>
            <table class="table table-striped table-hover table-condensed">
              <thead>
              <tr>
                <th>#</th>
                <th>Firma</th>
                <th>Kod pocztowy</th>
                <th>Miejscowość</th>
                <th>Ulica</th>
                <th>Numer lokalu</th>
                <th>Data załadunku</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in loadPlacesList">
                <td>{{$index+1}}</td>
                <td>{{item.companyName}}</td>
                <td>{{item.companyZipCode}}</td>
                <td>{{item.companyCity}}</td>
                <td>{{item.companyStreet}}</td>
                <td>{{item.companyStreetNumber}}</td>
                <td>{{item.date | date:'yyyy-MM-dd'}}</td>
                <td width="15px">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown"
                            aria-expanded="true">
                      Opcje
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1"
                                                 href="#/client/{{client.id}}/{{order.id}}/loadPlace/{{item.id}}">Szczegóły
                        /
                        Edytuj</a></li>
                      <li role="presentation" class="divider"></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"
                                                 href="#/client/{{client.id}}/{{order.id}}"
                                                 ng-click="removeLoadPlace(item.id)">Usuń</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Menu</strong></div>
          <div class="panel-body">
            <form>
              <div class="form-group"><a href="#/client/{{client.id}}/{{order.id}}/loadPlace/new"
                                         class="btn btn-success">Dodaj miejsce załadunku</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </tab>
  <tab ng-show="showTabs">
    <tab-heading>Miejsca rozładunku <span class="badge">{{unloadPlacesCount}}</span></tab-heading>
    <br>

    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Lista miejsc rozładunku</strong></div>
            <table class="table table-striped table-hover table-condensed">
              <thead>
              <tr>
                <th>#</th>
                <th>Firma</th>
                <th>Kod pocztowy</th>
                <th>Miejscowość</th>
                <th>Ulica</th>
                <th>Numer lokalu</th>
                <th>Data rozładunku</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in unloadPlacesList">
                <td>{{$index+1}}</td>
                <td>{{item.companyName}}</td>
                <td>{{item.companyZipCode}}</td>
                <td>{{item.companyCity}}</td>
                <td>{{item.companyStreet}}</td>
                <td>{{item.companyStreetNumber}}</td>
                <td>{{item.date | date:'yyyy-MM-dd'}}</td>
                <td width="15px">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown"
                            aria-expanded="true">
                      Opcje
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1"
                                                 href="#/client/{{client.id}}/{{order.id}}/unloadPlace/{{item.id}}">Szczegóły
                        /
                        Edytuj</a></li>
                      <li role="presentation" class="divider"></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"
                                                 href="#/client/{{client.id}}/{{order.id}}"
                                                 ng-click="removeUnloadPlace(item.id)">Usuń</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Menu</strong></div>
          <div class="panel-body">
            <form>
              <div class="form-group"><a href="#/client/{{client.id}}/{{order.id}}/unloadPlace/new"
                                         class="btn btn-success">Dodaj miejsce rozładunku</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </tab>
</tabset>
