<h2 class="text-primary"><strong>{{client.name}} - Zamówienia</strong></h2>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-info">
      <div class="panel-heading text-center"><strong>Lista zamówień</strong></div>
        <table class="table table-striped table-hover table-condensed">
          <thead>
          <tr>
            <th>#</th>
            <th><a ng-click="sortColumn('cargoDescription')">Opis</a></th>
            <th><a ng-click="sortColumn('weight')">Waga</a></th>
            <th><a ng-click="sortColumn('distance')">Dystans</a></th>
            <th><a ng-click="sortColumn('orderDate')">Data zamówienia</a></th>
            <th><a ng-click="sortColumn('deliveryStatus')">Status zamówienia</a></th>
            <th><a ng-click="sortColumn('receiveMoney')">Status opłat</a></th>
            <th><a ng-click="sortColumn('deliveryPrice')">Cena</a></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in list">
            <td>{{$index+1}}</td>
            <td>{{item.cargoDescription}}</td>
            <td>{{item.weight + ' kg'}}</td>
            <td>{{item.distance + ' km'}}</td>
            <td>{{item.orderDate | date:'yyyy-MM-dd'}}</td>
            <td><span class="glyphicon glyphicon-ok" ng-show="item.deliveryStatus"></span><span
              class="glyphicon glyphicon-remove" ng-hide="item.deliveryStatus"></span></td>
            <td><span class="glyphicon glyphicon-ok" ng-show="item.receiveMoney"></span><span
              class="glyphicon glyphicon-remove" ng-hide="item.receiveMoney"></span></td>
            <td>{{item.deliveryPrice + item.additionalCosts - item.penaltyCosts + ' EUR'}}</td>
            <td width="15px">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-expanded="true">
                  Opcje
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#/client/{{client.id}}/{{item.id}}">Szczegóły /
                    Edytuj</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#/client/{{client.id}}/orders"
                                             ng-click="removeOrder(item.id)">Usuń</a></li>

                </ul>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
    <pagination total-items="pagination.totalItems"
                items-per-page="pagination.itemsPerPage"
                ng-model="pagination.currentPage"
                ng-change="pageChange()"
                next-text="&rsaquo;" previous-text="&lsaquo;"
                boundary-links="true"
                first-text="&laquo;" last-text="&raquo;"></pagination>
  </div>
  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading text-center"><strong>Menu</strong></div>
      <div class="panel-body">
        <form>
          <div class="form-group"><label for="search" class="control-label">Szukaj:</label><input id="search"
                                                                                                 class="form-control"
                                                                                                 type="text"
                                                                                                 placeholder="opis towaru"
                                                                                                 ng-model="filter.searchParam"
                                                                                                 ng-change="search()">
            <br/>

            <div class="form-group">
              <label class="control-label" for="startDate">Data zamówienia od:</label>
              <input class="form-control" id="startDate" type="date" ng-model="filter.startDateParam"
                     ng-change="search()">
            </div>
            <div class="form-group">
              <label class="control-label" for="endDate">Data zamówienia do:</label>
              <input class="form-control" id="endDate" type="date" ng-model="filter.endDateParam" ng-change="search()">
            </div>
          </div>
          <label class="control-label" for="itemsPerPage">Elementów na stronie:</label>

          <div class="row">
            <div class="col-md-5">
              <input min="1" max="100" id="itemsPerPage" class="form-control" type="number" ng-model="filter.last"
                     ng-change="search()">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
