<h2 class="text-primary"><strong>Raporty</strong></h2>
<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h4 class="text-success">Lista kierowców</h4>

    <div class="well well-sm">
      <div class="row">
        <div class="col-md-1">
          <h5 class="text-info">Zatrudnienie</h5>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="input-group">
            <span class="input-group-addon">Od:</span>
            <input class="form-control" id="startDateDriver" type="text" ng-model="startDateParamDriver" required>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="input-group">
            <span class="input-group-addon">Do:</span>
            <input class="form-control" id="endDateDriver" type="text" ng-model="endDateParamDriver" required>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <a class="btn btn-success"
             href="http://localhost:8080/api/reports/drivers?startDateParam={{startDateParamDriver}}&endDateParam={{endDateParamDriver}}">Generuj
            raport</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h4 class="text-success">Lista ciężarówek</h4>

    <div class="well well-sm">
      <div class="row">
        <div class="col-md-1">
          <h5 class="text-info">Produkcja</h5>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="input-group">
            <span class="input-group-addon">Od:</span>
            <input class="form-control" id="startDateTruck" type="text" ng-model="startDateParamTruck" required>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="input-group">
            <span class="input-group-addon">Do:</span>
            <input class="form-control" id="endDateTruck" type="text" ng-model="endDateParamTruck" required>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <a class="btn btn-success"
             href="http://localhost:8080/api/reports/trucks?startDateParam={{startDateParamTruck}}&endDateParam={{endDateParamTruck}}">Generuj
            raport</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h4 class="text-success">Lista naczep</h4>

    <div class="well well-sm">
      <div class="row">
        <div class="col-md-1">
          <h5 class="text-info">Produkcja</h5>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="input-group">
            <span class="input-group-addon">Od:</span>
            <input class="form-control" id="startDateTrailer" type="text" ng-model="startDateParamTrailer" required>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="input-group">
            <span class="input-group-addon">Do:</span>
            <input class="form-control" id="endDateTrailer" type="text" ng-model="endDateParamTrailer" required>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <a class="btn btn-success"
             href="http://localhost:8080/api/reports/trailers?startDateParam={{startDateParamTrailer}}&endDateParam={{endDateParamTrailer}}">Generuj
            raport</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="alert alert-info" role="alert">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      <span class="sr-only">Informacja:</span>
      Na tej stronie zostały zaimplementowane podstawowe raporty.
      <br>
      Raporty spersonalizowane są dostępne w poszczególnych tabelach pod przyciskiem kontekstowym.
    </div>
  </div>
</div>
