<h2 class="text-primary"><strong>Naczepa</strong></h2>
<tabset>
  <tab>
    <tab-heading>Szczegóły</tab-heading>
    <br>

    <div class="panel panel-default">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label" for="brand">Marka</label>
                <input class="form-control" id="brand" type="text" ng-model="trailer.brand" required>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="model">Model</label>
                <input class="form-control" id="model" type="text" ng-model="trailer.model" required>
              </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="registrationNumber">Nr rejestracyjny</label>
                <input class="form-control" id="registrationNumber" type="text" ng-model="trailer.registrationNumber"
                       required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label" for="manufacturingYear">Data produkcji</label>
                <input class="form-control" id="manufacturingYear" type="date" ng-model="trailer.manufacturingYear"
                       required>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="trailerType">Typ zabudowy</label>
                <input class="form-control" id="trailerType" type="text" ng-model="trailer.trailerType" required>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label" for="adr">Certyfikaty ADR</label>
                <input class="form-control" id="adr" type="text"
                       placeholder="Jeśli naczepa może przewozić ładunki klasy ADR, podaj je po przecinku"
                       ng-model="trailer.adrCertificate">
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success" ng-click="saveTrailer()">Zatwierdź</button>
            <a class="btn btn-danger" href="#/trailers">Anuluj</a>
          </div>
        </form>
      </div>
    </div>
    </div>
  </tab>
  <tab ng-show="showTabs">
    <tab-heading>Ciężarówki <span class="badge">{{trucksCount}}</span></tab-heading>
    <br>

    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Ciężarówki</strong></div>
            <table class="table table-striped table-hover table-condensed">
              <thead>
              <tr>
                <th>#</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Silnik</th>
                <th>VIN</th>
                <th>Numer rejestracyjny</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in trucksList">
                <td>{{$index+1}}</td>
                <td>{{item.brand}}</td>
                <td>{{item.model}}</td>
                <td>{{item.engineModel}}</td>
                <td>{{item.vin}}</td>
                <td>{{item.registrationNumber}}</td>
                <td width="15px">
                  <button class="btn btn-danger" ng-click="removeTruck(item.id)">Usuń</button>
                </td>
              </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Menu</strong></div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <label for="trucks" class="control-label">Ciężarówki</label>
                <input type="text" class="form-control" ng-click="getTrucks()" ng-change="getTrucks()"
                       ng-model="selectedTruck"
                       typeahead="truck.text for truck in trucks | filter:$viewValue | limitTo:8"
                       typeahead-on-select="selectTruck($item,$model,$label)" id="trucks" placeholder="Szukaj">
              </div>
              <div class="form-group" ng-show="truckId">
                <button class="btn btn-success" ng-click="addTruck()">Dodaj</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </tab>
  <tab ng-show="showTabs">
    <tab-heading>Serwisowanie <span class="badge">{{servicesCount}}</span></tab-heading>
    <br>

    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Lista akcji serwisowych</strong></div>
            <table class="table table-striped table-hover table-condensed">
              <thead>
              <tr>
                <th>#</th>
                <th><a ng-click="sortColumn('trailerInspectionDate')">Data badania</a></th>
                <th><a ng-click="sortColumn('pneumaticSystem')">Układ pneumatyczny</a></th>
                <th><a ng-click="sortColumn('lighting')">Oświetlenie</a></th>
                <th><a ng-click="sortColumn('tires')">Opony</a></th>
                <th><a ng-click="sortColumn('costs')">Koszt obsługi</a></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in trailerWorkshopsList">
                <td>{{$index+1}}</td>
                <td>{{item.trailerInspectionDate | date:'yyyy-MM-dd'}}</td>
                <td>{{item.pneumaticSystem}}</td>
                <td>{{item.lighting}}</td>
                <td>{{item.tires}}</td>
                <td>{{item.costs + ' ' + 'EUR'}}</td>
                <td width="15px">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown"
                            aria-expanded="true">
                      Opcje
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1"
                                                 href="#/trailer/{{trailer.id}}/{{item.id}}">Szczegóły
                        /
                        Edytuj</a></li>
                      <li role="presentation" class="divider"></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"
                                                 href="#/trailer/{{trailer.id}}"
                                                 ng-click="removeTrailerWorkshop(item.id)">Usuń</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
        </div>
        <pagination total-items="pagination.totalItems"
                    items-per-page="pagination.itemsPerPage"
                    ng-model="pagination.currentPage"
                    ng-change="pageChange()"
                    next-text="&rsaquo;" previous-text="&lsaquo;"
                    boundary-links="true"
                    first-text="&laquo;" last-text="&raquo;"></pagination>
      </div>
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Menu</strong></div>
          <div class="panel-body">
            <form>
              <div class="form-group"><a href="#/trailer/{{trailer.id}}/new"
                                         class="btn btn-success">Dodaj akcję serwisową</a></div>
              <div class="form-group">
                <label class="control-label" for="startDate">Data serwisowania od:</label>
                <input class="form-control" id="startDate" type="date" ng-model="filter.startDateParam"
                       ng-change="search()">
              </div>
              <div class="form-group">
                <label class="control-label" for="endDate">Data serwisowania do:</label>
                <input class="form-control" id="endDate" type="date" ng-model="filter.endDateParam"
                       ng-change="search()">
              </div>
              <label class="control-label" for="itemsPerPage">Elementów na stronie:</label>

              <div class="row">
                <div class="col-md-5">
                  <input min="1" max="100" id="itemsPerPage" class="form-control" type="number" ng-model="filter.last"
                         ng-change="search()">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab ng-show="showTabs">
    <tab-heading>Zlecenia <span class="badge">{{ordersCount}}</span></tab-heading>
    <br>

    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Lista zamówień</strong></div>
            <table class="table table-striped table-hover table-condensed">
              <thead>
              <tr>
                <th>#</th>
                <th><a ng-click="sortColumn2('cargoDescription')">Opis</a></th>
                <th><a ng-click="sortColumn2('weight')">Waga</a></th>
                <th><a ng-click="sortColumn2('distance')">Dystans</a></th>
                <th><a ng-click="sortColumn2('orderDate')">Data zamówienia</a></th>
                <th><a ng-click="sortColumn2('deliveryStatus')">Status zamówienia</a></th>
                <th><a ng-click="sortColumn2('receiveMoney')">Status opłat</a></th>
                <th><a ng-click="sortColumn2('deliveryPrice')">Cena</a></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in ordersList">
                <td>{{$index+1}}</td>
                <td>{{item.cargoDescription}}</td>
                <td>{{item.weight + ' kg'}}</td>
                <td>{{item.distance + ' km'}}</td>
                <td>{{item.orderDate | date:'yyyy-MM-dd'}}</td>
                <td><span class="glyphicon glyphicon-ok" ng-show="item.deliveryStatus"></span><span
                  class="glyphicon glyphicon-remove" ng-hide="item.deliveryStatus"></span></td>
                <td><span class="glyphicon glyphicon-ok" ng-show="item.receiveMoney"></span><span
                  class="glyphicon glyphicon-remove" ng-hide="item.receiveMoney"></span></td>
                <td>{{item.deliveryPrice + item.additionalCosts - item.penaltyCosts + ' EUR'}}</td>
              </tr>
              </tbody>
            </table>
        </div>
        <pagination total-items="pagination2.totalItems"
                    items-per-page="pagination2.itemsPerPage"
                    ng-model="pagination2.currentPage"
                    ng-change="pageChange2()"
                    next-text="&rsaquo;" previous-text="&lsaquo;"
                    boundary-links="true"
                    first-text="&laquo;" last-text="&raquo;"></pagination>
      </div>
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Menu</strong></div>
          <div class="panel-body">
            <form>
              <div class="form-group"><label for="search" class="control-label">Szukaj</label><input id="search"
                                                                                                     class="form-control"
                                                                                                     type="text"
                                                                                                     placeholder="opis towaru"
                                                                                                     ng-model="filter2.searchParam"
                                                                                                     ng-change="search2()">
                <br/>

                <div class="form-group">
                  <label class="control-label" for="startDate2">Data zamówienia od:</label>
                  <input class="form-control" id="startDate2" type="date" ng-model="filter2.startDateParam"
                         ng-change="search2()">
                </div>
                <div class="form-group">
                  <label class="control-label" for="endDate2">Data zamówienia do:</label>
                  <input class="form-control" id="endDate2" type="date" ng-model="filter2.endDateParam"
                         ng-change="search2()">
                </div>
              </div>
              <label class="control-label" for="itemsPerPage2">Elementów na stronie:</label>

              <div class="row">
                <div class="col-md-5">
                  <input min="1" max="100" id="itemsPerPage2" class="form-control" type="number" ng-model="filter2.last"
                         ng-change="search2()">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </tab>
</tabset>
