<h2 class="text-primary"><strong>Serwisowanie</strong></h2>
<div class="panel panel-default">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label" for="trailer">Naczepa</label>
        <input class="form-control" id="trailer" type="text" ng-model="trailer.name" disabled>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label" for="serviceType">Rodzaj akcji serwisowej</label>
            <input class="form-control" id="serviceType" type="text" ng-model="trailerWorkshop.serviceType" required>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="pneumatic">Układ pneumatyczny</label>
            <input class="form-control" id="pneumatic" type="text" ng-model="trailerWorkshop.pneumaticSystem" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="brakingSystem">Układ haulcowy</label>
            <input class="form-control" id="brakingSystem" type="text" ng-model="trailerWorkshop.brakingSystem">
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="brakesForce">Siła hamowania</label>
            <input class="form-control" id="brakesForce" type="text" ng-model="trailerWorkshop.brakingForce">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label" for="suspension">Zawieszenie</label>
            <input class="form-control" id="suspension" type="text" ng-model="trailerWorkshop.suspension">
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="tires">Opony</label>
            <input class="form-control" id="tires" type="text" ng-model="trailerWorkshop.tires">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="lighting">Oświetlenie</label>
            <input class="form-control" id="lighting" type="text" ng-model="trailerWorkshop.lighting">
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="others">Inne usterki</label>
            <input class="form-control" id="others" type="text" ng-model="trailerWorkshop.otherFaults">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" for="inspectionDate">Data badania</label>
            <input class="form-control" id="inspectionDate" type="date" ng-model="trailerWorkshop.trailerInspectionDate"
                   required>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="expiryDate">Koniec ważności</label>
            <input class="form-control" id="expiryDate" type="date"
                   ng-model="trailerWorkshop.trailerInspectionExpiryDate"
                   required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="control-label" for="comments">Komentarz</label>
            <input class="form-control" id="comments" type="text" ng-model="trailerWorkshop.comments">
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="costs">Koszt obsługi</label>
            <input min="0" max="5000000" class="form-control" id="costs" type="number"
                   ng-model="trailerWorkshop.costs">
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" ng-click="saveTrailerWorkshop()">Zatwierdź</button>
        <a class="btn btn-danger" href="#/trailer/{{trailer.id}}">Anuluj</a>
      </div>
    </form>
  </div>
</div>
</div>
