<h2 class="text-primary"><strong>Serwisowanie</strong></h2>
<div class="panel panel-default">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label" for="truck">Ciężarówka</label>
        <input class="form-control" id="truck" type="text" ng-model="truck.name" disabled>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label" for="serviceType">Rodzaj akcji serwisowej</label>
            <input class="form-control" id="serviceType" type="text" ng-model="truckWorkshop.serviceType" required>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="engine">Silnik</label>
            <input class="form-control" id="engine" type="text" ng-model="truckWorkshop.engine" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="gearbox">Skrzynia biegów</label>
            <input class="form-control" id="gearbox" type="text" ng-model="truckWorkshop.gearbox" required>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="drive">Układ napędowy</label>
            <input class="form-control" id="drive" type="text" ng-model="truckWorkshop.driveSystem" required>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label" for="pneumatic">Układ pneumatyczny</label>
            <input class="form-control" id="pneumatic" type="text" ng-model="truckWorkshop.pneumaticSystem" required>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="brakingSystem">Układ haulcowy</label>
            <input class="form-control" id="brakingSystem" type="text" ng-model="truckWorkshop.brakingSystem">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="brakesForce">Siła hamowania</label>
            <input class="form-control" id="brakesForce" type="text" ng-model="truckWorkshop.brakingForce">
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="suspension">Zawieszenie</label>
            <input class="form-control" id="suspension" type="text" ng-model="truckWorkshop.suspension">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label" for="fluids">Płyny eksploatacyjne</label>
            <input class="form-control" id="fluids" type="text" ng-model="truckWorkshop.consumableFluids">
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="noiseLevel">Poziom hałasu</label>
            <input class="form-control" id="noiseLevel" type="text" ng-model="truckWorkshop.noiseLevel">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="emissions">Emisja spalin</label>
            <input class="form-control" id="emissions" type="text" ng-model="truckWorkshop.emissions">
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="tires">Opony</label>
            <input class="form-control" id="tires" type="text" ng-model="truckWorkshop.tires">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label" for="batteries">Akmulatory</label>
            <input class="form-control" id="batteries" type="text" ng-model="truckWorkshop.batteries">
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="lighting">Oświetlenie</label>
            <input class="form-control" id="lighting" type="text" ng-model="truckWorkshop.lighting">
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label class="control-label" for="others">Inne usterki</label>
            <input class="form-control" id="others" type="text" ng-model="truckWorkshop.otherFaults">
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="distance">Przebieg</label>
            <input min="0" max="5000000" class="form-control" id="distance" type="number"
                   ng-model="truckWorkshop.distanceDriven" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" for="inspectionDate">Data badania</label>
            <input class="form-control" id="inspectionDate" type="date" ng-model="truckWorkshop.truckInspectionDate"
                   required>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="expiryDate">Koniec ważności</label>
            <input class="form-control" id="expiryDate" type="date" ng-model="truckWorkshop.truckInspectionExpiryDate"
                   required>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label class="control-label" for="comments">Komentarz</label>
            <input class="form-control" id="comments" type="text" ng-model="truckWorkshop.comments">
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="costs">Koszt obsługi</label>
            <input min="0" max="5000000" class="form-control" id="costs" type="number"
                   ng-model="truckWorkshop.costs">
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" ng-click="saveTruckWorkshop()">Zatwierdź</button>
        <a class="btn btn-danger" href="#/truck/{{truck.id}}">Anuluj</a>
      </div>
    </form>
  </div>
</div>
</div>
