<h2 class="text-primary"><strong>Ciężarówki</strong></h2>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-info">
      <div class="panel-heading text-center"><strong>Lista ciężarówek</strong></div>
        <table class="table table-striped table-hover table-condensed">
          <thead>
          <tr>
            <th>#</th>
            <th><a ng-click="sortColumn('brand')">Marka</a></th>
            <th><a ng-click="sortColumn('model')">Model</a></th>
            <th><a ng-click="sortColumn('vin')">VIN</a></th>
            <th><a ng-click="sortColumn('registrationNumber')">Nr rejestracyjny</a></th>
            <th><a ng-click="sortColumn('manufacturingYear')">Data produkcji</a></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in list">
            <td>{{$index+1}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.model}}</td>
            <td>{{item.vin}}</td>
            <td>{{item.registrationNumber}}</td>
            <td>{{item.manufacturingYear | date:'yyyy-MM-dd'}}</td>
            <td width="15px">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-expanded="true">
                  Opcje
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#/truck/{{item.id}}">Szczegóły / Edytuj</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1"
                                             href="http://localhost:8080/api/reports/trucks/{{item.id}}/services">Raport
                    serwisów</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#/trucks"
                                             ng-click="removeTruck(item.id)">Usuń</a></li>
                </ul>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
    <pagination total-items="pagination.totalItems"
                items-per-page="pagination.itemsPerPage"
                ng-model="pagination.currentPage"
                ng-change="pageChange()"
                next-text="&rsaquo;" previous-text="&lsaquo;"
                boundary-links="true"
                first-text="&laquo;" last-text="&raquo;"></pagination>
  </div>
  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading text-center"><strong>Menu</strong></div>
      <div class="panel-body">
        <form>
          <div class="form-group"><a href="#/truck/new" class="btn btn-success">Dodaj ciężarówkę</a></div>
          <div class="form-group"><label for="search" class="control-label">Szukaj</label><input id="search"
                                                                                                 class="form-control"
                                                                                                 type="text"
                                                                                                 placeholder="marka, model, nr rejestracyjny"
                                                                                                 ng-model="filter.searchParam"
                                                                                                 ng-change="search()">
            <br/>

            <div class="form-group">
              <label class="control-label" for="startDate">Data produkcji od:</label>
              <input class="form-control" id="startDate" type="date" ng-model="filter.startDateParam"
                     ng-change="search()">
            </div>
            <div class="form-group">
              <label class="control-label" for="endDate">Data produkcji do:</label>
              <input class="form-control" id="endDate" type="date" ng-model="filter.endDateParam" ng-change="search()">
            </div>
          </div>
          <label class="control-label" for="itemsPerPage">Elementów na stronie:</label>

          <div class="row">
            <div class="col-md-5">
              <input min="1" max="100" id="itemsPerPage" class="form-control" type="number" ng-model="filter.last"
                     ng-change="search()">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
