<h2 class="text-primary"><strong>Ciężarówka</strong></h2>
<tabset>
  <tab>
    <tab-heading>Szczegóły</tab-heading>
    <br>

    <div class="panel panel-default">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label" for="clientName">Naczepa</label>
            <input class="form-control" id="clientName" type="text" ng-model="truck.set" disabled>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label class="control-label" for="brand">Marka</label>
                <input class="form-control" id="brand" type="text" ng-model="truck.brand" required>
              </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="model">Model</label>
                <input class="form-control" id="model" type="text" ng-model="truck.model" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label class="control-label" for="engineModel">Silnik</label>
                <input class="form-control" id="engineModel" type="text" ng-model="truck.engineModel" required>
              </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="vin">VIN</label>
                <input class="form-control" id="vin" type="text" ng-model="truck.vin" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label" for="registrationNumber">Nr rejestracyjny</label>
                <input class="form-control" id="registrationNumber" type="text" ng-model="truck.registrationNumber"
                       required>
              </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="truckIdCard">Nr karty pojazdu</label>
                <input class="form-control" id="truckIdCard" type="text" ng-model="truck.truckIdCard" required>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="engineNumber">Nr silnika</label>
                <input class="form-control" id="engineNumber" type="text" ng-model="truck.engineNumber" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label" for="chassisNumber">Nr ramy</label>
                <input class="form-control" id="chassisNumber" type="text" ng-model="truck.chassisNumber" required>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="manufacturingYear">Data produkcji</label>
                <input class="form-control" id="manufacturingYear" type="date" ng-model="truck.manufacturingYear"
                       required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success" ng-click="saveTruck()">Zatwierdź</button>
            <a class="btn btn-danger" href="#/trucks">Anuluj</a>
          </div>
        </form>
      </div>
    </div>
    </div>
  </tab>
  <tab ng-show="showTabs">
    <tab-heading>Kierowcy <span class="badge">{{driversCount}}</span></tab-heading>
    <br>

    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Kierowcy</strong></div>
            <table class="table table-striped table-hover table-condensed">
              <thead>
              <tr>
                <th>#</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Telefon</th>
                <th>Karta kierowcy</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in driversList">
                <td>{{$index+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.surname}}</td>
                <td>{{item.telephoneNumber}}</td>
                <td>{{item.driverCardId}}</td>
                <td width="15px">
                  <button class="btn btn-danger" ng-click="removeDriver(item.id)">Usuń</button>
                </td>
              </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Menu</strong></div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <label for="drivers" class="control-label">Kierowcy</label>
                <input type="text" class="form-control" ng-click="getDrivers()" ng-change="getDrivers()"
                       ng-model="selectedDriver"
                       typeahead="driver.text for driver in drivers | filter:$viewValue | limitTo:8"
                       typeahead-on-select="selectDriver($item,$model,$label)" id="drivers" placeholder="Szukaj">
              </div>
              <div class="form-group" ng-show="driverId">
                <button class="btn btn-success" ng-click="addDriver()">Dodaj</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </tab>
  <tab ng-show="showTabs">
    <tab-heading>Serwisowanie <span class="badge">{{servicesCount}}</span></tab-heading>
    <br>

    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Lista akcji serwisowych</strong></div>
            <table class="table table-striped table-hover table-condensed">
              <thead>
              <tr>
                <th>#</th>
                <th><a ng-click="sortColumn('distanceDriven')">Przebieg</a></th>
                <th><a ng-click="sortColumn('truckInspectionDate')">Data badania</a></th>
                <th><a ng-click="sortColumn('engine')">Silnik</a></th>
                <th><a ng-click="sortColumn('gearbox')">Skrzynia biegów</a></th>
                <th><a ng-click="sortColumn('pneumaticSystem')">Układ pneumatyczny</a></th>
                <th><a ng-click="sortColumn('costs')">Koszt obsługi</a></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in truckWorkshopsList">
                <td>{{$index+1}}</td>
                <td>{{item.distanceDriven+ ' ' + 'km'}}</td>
                <td>{{item.truckInspectionDate | date:'yyyy-MM-dd'}}</td>
                <td>{{item.engine}}</td>
                <td>{{item.gearbox}}</td>
                <td>{{item.pneumaticSystem}}</td>
                <td>{{item.costs + ' ' + 'EUR'}}</td>
                <td width="15px">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown"
                            aria-expanded="true">
                      Opcje
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1"
                                                 href="#/truck/{{truck.id}}/{{item.id}}">Szczegóły
                        /
                        Edytuj</a></li>
                      <li role="presentation" class="divider"></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"
                                                 href="#/truck/{{truck.id}}"
                                                 ng-click="removeTruckWorkshop(item.id)">Usuń</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
        </div>
        <pagination total-items="pagination.totalItems"
                    items-per-page="pagination.itemsPerPage"
                    ng-model="pagination.currentPage"
                    ng-change="pageChange()"
                    next-text="&rsaquo;" previous-text="&lsaquo;"
                    boundary-links="true"
                    first-text="&laquo;" last-text="&raquo;"></pagination>
      </div>
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading text-center"><strong>Menu</strong></div>
          <div class="panel-body">
            <form>
              <div class="form-group"><a href="#/truck/{{truck.id}}/new"
                                         class="btn btn-success">Dodaj akcję serwisową</a></div>
              <div class="form-group">
                <label class="control-label" for="startDate">Data serwisowania od:</label>
                <input class="form-control" id="startDate" type="date" ng-model="filter.startDateParam"
                       ng-change="search()">
              </div>
              <div class="form-group">
                <label class="control-label" for="endDate">Data serwisowania do:</label>
                <input class="form-control" id="endDate" type="date" ng-model="filter.endDateParam"
                       ng-change="search()">
              </div>
              <label class="control-label" for="itemsPerPage">Elementów na stronie:</label>

              <div class="row">
                <div class="col-md-5">
                  <input min="1" max="100" id="itemsPerPage" class="form-control" type="number" ng-model="filter.last"
                         ng-change="search()">
                </div>
              </div>
            </form>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </tab>
</tabset>
